<p-dialog [(visible)]="isVisible" header="Wybierz typ nowej akcji" (onHide)="onCancel()">
	<p-selectButton [(ngModel)]="selectedActionType" [options]="actionTypes"></p-selectButton>
	<p-footer>
		<button (click)="onNextStep()" [disabled]="!selectedActionType" class="ui-button-raised ui-button-success" icon="pi pi-angle-double-right" label="Dalej" pButton type="button"></button>
		<button (click)="onCancel()" class="ui-button-raised ui-button-secondary" icon="pi pi-times" label="Anuluj" pButton type="button"></button>
	</p-footer>
</p-dialog>
