@import "base.scss";

.column-container {
	@include flex(flex, flex-start, center, column, relative);
	@include size(200px, 100%);
	min-height: calc(90vh);
	margin-top: 15px;
	z-index: 1;
	user-select: none;

	.title-container {
		@include flex(flex, center, center, column, relative);
		position: relative;
		margin-bottom: 15px;
		width: 100%;

		label {
			align-self: flex-start;
			margin-left: 2%;
		}

		input {
			width: 96%;
		}

		i {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;

			&:hover {
				color: $danger;
			}
		}
	}

	.column-id {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $white;
	}

	&.drag-over {
		background: darken($white, 15%);
	}
}
