@import "base.scss";

.column-container {
	@include flex(flex, flex-start, center, column);
	@include size(200px, 100%);
	min-height: calc(90vh);
	margin-top: 15px;
	z-index: 1;

	.title-container {
		@include flex(flex, center, center, column);
		position: relative;
		margin-bottom: 15px;
		width: 100%;

		label {
			align-self: flex-start;
			margin-left: 2%;
		}

		input {
			width: 96%;
		}
	}

	&.drag-over {
		background: darken($white, 15%);
	}
}
