<div (dragleave)="onDragLeave()"
	 (dragover)="allowDrop($event)"
	 (drop)="onDrop($event)"
	 [ngClass]="dragOverCssClass"
	 class="column-container">
	<form [formGroup]="columnTitleForm" class="title-container">
		<label for="columnTitle">Nazwa sekcji</label>
		<input formControlName="columnTitle" id="columnTitle" pInputText type="text">
	</form>
	<div>
		<ng-container *ngFor="let slide of (columnSlides$ | async); let i = index">
			<app-slide [slide]="slide" [position]="i"></app-slide>
			<app-slide-column-divider></app-slide-column-divider>
		</ng-container>
	</div>
</div>

