<app-slide-edit-menu-bar></app-slide-edit-menu-bar>
<div class="editor-container">
	<div class="canvas" #canvasElement (click)="onClick($event)" (mousemove)="onMouseMove($event)">
		<app-slide-link-action [class]="slideLinkActionContainerCssClass"
							   *ngFor="let actionParams of slideLinkActionsParams"
							   [isEditMode]="true"
							   [actionParams]="actionParams"
							   [ngStyle]="actionParams.style"
							   (onRemoveAction)="removeSlideLinkAction($event)"></app-slide-link-action>
	</div>
	<img #backgroundElement [src]="" alt="">
</div>
