<app-slide-edit-menu-bar (onSave)="onSlideChangesSave()"></app-slide-edit-menu-bar>
<div class="editor-container">
	<div #canvasElement (click)="onClick($event)" (mousemove)="onMouseMove($event)" class="canvas">
		<app-slide-link-action (onRemoveAction)="removeSlideAction($event)"
							   (onEditAction)="editSlideAction($event)"
							   *ngFor="let slideAction of slideActions"
							   [actionParams]="slideAction"
							   [class]="slideLinkActionContainerCssClass"
							   [isEditMode]="true"
							   [ngStyle]="slideAction.style"></app-slide-link-action>
	</div>
	<img #backgroundElement [src]="" alt="">
</div>
