<p-dialog [(visible)]="display" maximizable="true">
	<p-header>Dodaj akcję</p-header>
	<p-tabView>
		<p-tabPanel header="Link do slajdu w prezentacji">
			// Content
		</p-tabPanel>
		<p-tabPanel header="Link do innej prezentacji">
			// Content
		</p-tabPanel>
		<p-tabPanel header="Link zewnętrzny">
			<div [formGroup]="externalLinkForm" class="external-link-container">
				<input formControlName="link" id="link" pInputText placeholder="Link zewnętrzny" type="text">
			</div>
		</p-tabPanel>
	</p-tabView>
	<p-footer>
		<button (click)="onSave()" icon="pi pi-check" label="Zapisz" pButton type="button"></button>
		<button (click)="onCancel()" class="ui-button-secondary" icon="pi pi-times" label="Anuluj" pButton type="button"></button>
	</p-footer>
</p-dialog>
