@import "base.scss";

.column-divider {
	@include flex(flex);
	@include size(30px, 100%);
	min-height: calc(90vh);
	transition: width 150ms ease-out;

	&.drag-over {
		background: darken($white, 15%);
		width: 230px;
		transition: width 150ms ease-in;
	}
}
