@import "base.scss";

.presentation-creator-container {
	@include flex(flex, flex-start, flex-start, row);
	@include size(100%, calc(100% - 55px));
	transition: padding-left 250ms;
	padding: 15px;

	&.slider-open {
		padding-left: 275px;
		transition: padding-left 250ms;
	}

	.no-content {
		@include flex(flex, center, center, column);
		@include size(100%, 100%);
		user-select: none;

		i {
			font-size: 50px;
		}
	}
}
