<app-menu-bar></app-menu-bar>
<div [ngClass]="(isLibrarySliderOpen$ | async) ? 'slider-open' : ''" class="presentation-creator-container">
	<ng-container *ngFor="let column of (columns$ | async); let i = index; let l = count">
		<app-column [column]="column" [position]="i"></app-column>
		<app-column-divider
			*ngIf="l !== i + 1"
			[columnDividerSibilings]="{ leftSideColumnPosition: i, rightSideColumnPosition: i + 1 }"
			[numberOfColumns]="l">
		</app-column-divider>
	</ng-container>
	<div *ngIf="!(amountOfColumns$ | async)" class="no-content">
		<i class="pi pi-info-circle"></i>
		<h1>Brak slajdów w prezentacji, przeciągnij slajdy z biblioteki</h1>
	</div>
	<app-library-bar></app-library-bar>
</div>
