<p-card [header]="presentation.title" [style]="{width: '360px', margin: '15px'}" styleClass="ui-card-shadow">
	<p-header>
		<img [src]="presentation.thumbnail" alt="">
	</p-header>
	<p-footer>
		<button (click)="showPresentation()" class="ui-button-raised ui-button-success" icon="pi pi-caret-right"
				label="Odtwórz"
				pButton type="button"></button>
		<button (click)="updatePresentation()" class="ui-button-raised ui-button-info" icon="pi pi-pencil"
				label="Edytuj" pButton
				type="button"></button>
		<button (click)="deletePresentation()" class="ui-button-raised ui-button-warning" icon="pi pi-times"
				label="Usuń" pButton
				type="button"></button>
	</p-footer>
</p-card>
