@import "base.scss";

.presentation-container {
	@include flex(flex, center, center, column, relative);
	@include size(100%, 100%);

	img {
		position: absolute;
		@include size(100%, 100%, 100%, 100%);
	}

	.slide-link-action-container {
		position: absolute;
		z-index: 2;

		&:hover {
			background: rgba($primary, .5);
			cursor: pointer;
		}
	}

	i {
		position: absolute;
		font-size: 50px;
		z-index: 2;

		&:hover {
			cursor: pointer;
			color: $primary;
		}

		&.top {
			top: 15px;
		}

		&.right {
			right: 15px;
		}

		&.bottom {
			bottom: 15px;
		}

		&.left {
			left: 15px;
		}
	}
}
