@import "base.scss";

.canvas-container {
	@include flex(flex, center, center, column, relative);
	@include size(100%, 100%);

	canvas {
		@include size(100%, 100%);
		background: transparent;
		z-index: 1;
	}

	.background-image {
		position: absolute;
		@include size(100%, 100%, 100%, 100%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	i {
		position: absolute;
		font-size: 50px;
		z-index: 2;

		&:hover {
			cursor: pointer;
			color: $primary;
		}

		&.top {
			top: 15px;
		}

		&.right {
			right: 15px;
		}

		&.bottom {
			bottom: 15px;
		}

		&.left {
			left: 15px;
		}
	}
}
