@import "base.scss";

.slide-link-action {
	@include flex(flex, center, center, row, relative);
	@include size(100%, 100%);

	i {
		position: absolute;
		font-size: 35px;
		z-index: 3;

		&.edit-icon {
			left: -4px;
			top: -35px;
			color: $white;
			background: $black;

			&:hover {
				cursor: pointer;
				background: $primary;
			}
		}

		&.remove-icon {
			right: -4px;
			top: -35px;
			color: $white;
			background: $black;

			&:hover {
				cursor: pointer;
				background: $danger;
			}
		}

		&.top-left {
			left: -10px;
			top: -10px;
			transform: rotate(45deg);
			z-index: 4;

			&:hover {
				cursor: nw-resize;
				color: $primary;
			}
		}

		&.top {
			top: -10px;
			transform: rotate(90deg);
			z-index: 4;

			&:hover {
				cursor: n-resize;
				color: $primary;
			}
		}

		&.top-right {
			right: -10px;
			top: -10px;
			transform: rotate(135deg);
			z-index: 4;

			&:hover {
				cursor: ne-resize;
				color: $primary;
			}
		}

		&.right {
			right: -10px;
			transform: rotate(180deg);
			z-index: 4;

			&:hover {
				cursor: e-resize;
				color: $primary;
			}
		}

		&.bottom-right {
			right: -10px;
			bottom: -10px;
			transform: rotate(225deg);
			z-index: 4;

			&:hover {
				cursor: se-resize;
				color: $primary;
			}
		}

		&.bottom {
			bottom: -10px;
			transform: rotate(270deg);
			z-index: 4;

			&:hover {
				cursor: s-resize;
				color: $primary;
			}
		}

		&.bottom-left {
			left: -10px;
			bottom: -10px;
			z-index: 4;
			transform: rotate(315deg);

			&:hover {
				cursor: sw-resize;
				color: $primary;
			}
		}

		&.left {
			left: -10px;
			z-index: 4;

			&:hover {
				cursor: w-resize;
				color: $primary;
			}
		}
	}
}
