@import "base.scss";

.slide-container {
	@include flex(flex, center, center, row, relative);
	@include size(200px);
	z-index: 2;

	img {
		@include size(200px);
	}

	.slide-id {
		position: absolute;
		top: 0;
		left: 0;
		background: $white;
	}

	i {
		position: absolute;
		background: $white;
		color: $black;
		cursor: pointer;

		&:first-of-type {
			top: 0;
			right: 0;

			&:hover {
				color: $success;
			}
		}

		&:last-of-type {
			top: 20px;
			right: 0;

			&:hover {
				color: $danger;
			}
		}
	}

	&.drag-over {
		opacity: 0.65;
	}
}
