@import "base.scss";

.sidebar-content {
	@include flex(flex, flex-start, flex-start, row);
	@include size(100%, 100%);

	.slides-in-library {
		@include flex(flex, flex-start, flex-start, row);
		@include size(100%, 100%);
	}

	.no-slides-in-library {
		@include flex(flex, center, center, column, relative);
		@include size(100%, 100%);
		cursor: pointer;
		user-select: none;
		top: -30px;

		input[type="file"] {
			display: none;
		}
	}
}

button {
	position: absolute;
	bottom: 0;
	left: 0;
	@include font('small');
}
