<p-sidebar [(visible)]="display" [style]="{ height:'100%', 'z-index': '10' }"
		   position="left">
	<div class="sidebar-content">
		<app-add-more-slides *ngIf="librarySlidesAmount$ | async" (initFileUpload)="clickIntoFileInput()"></app-add-more-slides>
		<cdk-virtual-scroll-viewport *ngIf="librarySlidesAmount$ | async" class="slides-in-library" orientation="vertical" itemSize="112">
			<ng-container *cdkVirtualFor="let slide of slidesInLibary$ | async">
				<div>
					<app-slide [slide]="slide"></app-slide>
					<app-slide-library-divider></app-slide-library-divider>
				</div>
			</ng-container>
		</cdk-virtual-scroll-viewport>
		<div (click)="clickIntoFileInput()" *ngIf="!(librarySlidesAmount$ | async)" class="no-slides-in-library">
			<span>Brak slajdów</span>
			<label for="fileUpload">Kliknij tutaj, aby dodać pliki</label>
		</div>
		<input #fileInputElement (change)="uploadFiles($event)" id="fileUpload" multiple type="file">
	</div>
</p-sidebar>
<button (click)="openSlider($event, true)" icon="pi pi-list" iconPos="right" label="Biblioteka" pButton
		type="button"></button>
