@import "base.scss";

.sidebar-content {
	@include size(100%, 100%);
	user-select: none;

	.slides-in-library {
		@include size(100%, 100%);
		user-select: none;
	}

	.no-slides-in-library {
		@include flex(flex, center, center, column, relative);
		@include size(100%, 100%);
		cursor: pointer;
		user-select: none;
	}

	input[type="file"] {
		display: none;
		z-index: -1;
	}
}

button {
	position: absolute;
	bottom: 0;
	left: 0;
	@include font('medium');
}
