<p-sidebar [(visible)]="display" [style]="{ height:'180px', 'z-index': '10' }"
		   position="bottom">
	<div class="sidebar-content">
		<div *ngIf="(librarySlidesAmount$ | async)" class="slides-in-library">
			<ng-container *ngFor="let slide of (slidesInLibary$ | async)">
				<app-slide [slide]="slide"></app-slide>
				<app-slide-library-divider></app-slide-library-divider>
			</ng-container>
		</div>
		<div (click)="clickIntoFileInput()" *ngIf="!(librarySlidesAmount$ | async)" class="no-slides-in-library">
			<span>Brak slajdów</span>
			<input #fileInputElement (change)="uploadFiles($event)" id="fileUpload" multiple type="file">
			<label for="fileUpload">Kliknij tutaj, aby dodać pliki</label>
		</div>
	</div>
</p-sidebar>
<button (click)="openSlider($event, true)" icon="pi pi-list" iconPos="right" label="Biblioteka" pButton
		type="button"></button>
