@import "base.scss";

.add-more-slides-container {
	@include flex(flex, center, center, column, fixed);
	@include size(160px, 160px);
	@include position(auto, auto, -80px, -80px);
	border-radius: $border-radius-50;
	background: linear-gradient(to bottom, $primary, lighten($primary, 15%));
	z-index: 1004;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
	cursor: pointer;

	i {
		@include font-size(35px);
		color: $white;
		position: relative;
		bottom: 35px;
		left: 30px;
	}
}
