<p-dialog [(visible)]="isVisible" header="Wybierz docelowy slajd" (onHide)="onCancel()">
	<div class="presentation-column-container">
		<ng-container *ngFor="let column of sortedSlidesArrays">
			<div class="presentation-column">
				<ng-container *ngFor="let slide of column">
					<app-slide-link-thumbnail [isSelected]="+alreadySelectedSlideId === slide.id" [slide]="slide"></app-slide-link-thumbnail>
				</ng-container>
			</div>
		</ng-container>
		<div *ngIf="!sortedSlidesArrays.length">Brak slajdów spełniających kryteria</div>
	</div>
	<p-footer>
		<button (click)="onSave()"
				[disabled]="!(isSlideSelected$ | async)"
				class="ui-button-raised ui-button-success" icon="pi pi-save" label="Zapisz akcję" pButton type="button"></button>
		<button (click)="onCancel()"
				class="ui-button-raised ui-button-secondary" icon="pi pi-times" label="Anuluj" pButton type="button"></button>
	</p-footer>
</p-dialog>
