<div [ngClass]="dragOverCssClass" class="column-container">
	<!-- <div class="column-id">{{ column.id }} {{ column.position }}</div> -->
	<form [formGroup]="columnTitleForm" class="title-container">
		<label for="columnTitle">Nazwa sekcji</label>
		<input formControlName="columnTitle" id="columnTitle" pInputText type="text">
		<i (click)="onRemoveColumn()" *ngIf="isElementOnMouseEnter" class="pi pi-times"></i>
	</form>
	<div>
		<ng-container *ngFor="let slide of (columnSlides$ | async); let i = index; let l = count">
			<app-slide [position]="{ column: position, order: i }" [slide]="slide"></app-slide>
			<app-slide-column-divider
				*ngIf="l !== i + 1"
				[columnId]="column.id"
				[columnPosition]="position"
				[numberOfSlidesInColumn]="l"
				[slideDividerSibilings]="{ topSlidePosition: i, bottomSlidePosition: i + 1 }">
			</app-slide-column-divider>
		</ng-container>
	</div>
</div>

