@import "base.scss";

.lightbox-background {
	@include flex(flex, center, center, column, absolute);
	@include size(100%, 100%);
	@include position(0, auto, auto, 0);
	background: rgba($black, 0.65);
	z-index: 1010;

	img {
		user-select: none;
		z-index: 1003;
	}
}
