@import "base.scss";

.slide-container {
	@include flex(flex, center, center, row, relative);
	z-index: 2;

	img {
		@include size(200px);
	}

	.slide-id {
		position: absolute;
		top: 0;
		left: 0;
		background: $white;
	}

	&.drag-over {
		opacity: 0.65;
	}
}
