<p-menubar [model]="menuItems">
	<div>
		<button (click)="openSlider()" icon="pi pi-list" label="Biblioteka" pButton type="button"></button>
	</div>
	<div class="presentation-title">
		<span>{{ presentationTitle$ | async }}</span>
		<i (click)="changePresentationTitle()" class="pi pi-pencil"></i>
	</div>
	<div>
		<button class="ui-button-raised ui-button-success" icon="pi pi-save" label="Zapisz" pButton
				type="button"></button>
		<button class="ui-button-raised ui-button-secondary" icon="pi pi-sign-out" label="Wyjdź" pButton routerLink="./presentation-list"
				type="button"></button>
	</div>
</p-menubar>
