@import "base.scss";

.add-more-slides-container {
	@include flex(flex, center, center, column, relative);
	@include size(35px, 35px);
	@include position(0, auto, auto, 0);
	margin-bottom: 15px;
	z-index: 1004;
	cursor: pointer;

	button {
		margin-left: 160px;
		width: 200px;
	}
}
