<p-dialog [(visible)]="dialogVisibility"
		  [baseZIndex]="10"
		  [focusOnShow]="false"
		  [header]="header"
		  [modal]="true">
	<input [(ngModel)]="presentationTitle" appAutofocus pInputText type="text">
	<p-footer>
		<button (click)="onSave()" [disabled]="!this.presentationTitle || !this.presentationTitle.length"
				[label]="isEditMode ? 'Zapisz' : 'Utwórz'" icon="pi pi-check" pButton
				type="button"></button>
		<button (click)="onCancel()" class="ui-button-secondary" icon="pi pi-times" label="Anuluj" pButton
				type="button"></button>
	</p-footer>
</p-dialog>
