<p-dialog header="Wybierz typ nowej akcji" [(visible)]="isVisible">
	<p-selectButton [options]="actionTypes" [(ngModel)]="selectedActionType"></p-selectButton>
	<p-footer>
		<button type="button" pButton icon="pi pi-angle-double-right" (click)="onNextStep()" label="Dalej" class="ui-button-raised ui-button-success" [disabled]="!selectedActionType"></button>
		<button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Anuluj" class="ui-button-raised ui-button-secondary"></button>
	</p-footer>
</p-dialog>
