@import "base.scss";

div {
	@include flex(inline-flex, flex-start, center, row);

	&:first-of-type {
		margin-left: 10px;
	}

	&.presentation-title {
		@include font('medium');
		user-select: none;

		i {
			margin-left: 5px;
			cursor: pointer;
			color: $secondary;

			&:hover {
				color: $primary;
			}
		}
	}

	&:last-of-type {
		margin-right: 10px;

		button {
			&:first-of-type {
				margin-right: 10px;
			}
		}
	}
}
